# section for solver options
[solver]
ksp-convergence-info=false
ksp-monitor=false
ksp-view=false
ksp-reuse-prec=false
ksp-type=preonly#gmres#cg
pc-type=cholesky#gasm#hypre
mat-package-type=mumps #mumps

# section for forcing and initialisation options
[setup]
ice-type=creg#constant
ocean-type=coupled
#atmosphere-type=cfsr
atmosphere-type=era5
bathymetry-type=etopo

[ideal_simul]
init_thickness=2.0
init_concentration=0.8
init_thin_conc=0.2
init_snow_thickness=0.20
init_SST_limit=0.5
constant_mld=1.023907

[restart]
write_final_restart=true
write_interval_restart=true
start_from_restart=<RSTRT>
type=extend
input_path=<RSTDIR_NXS>
output_interval=<FREQ_RST_D>
basename=final

[mesh]
filename=nemo_cpl.msh
type=from_split
partitioner-fileformat=ascii
partitioner=metis
partitioner-space=memory

# section for simulation options
[simul]
thermo_timestep=<DT_NXS>
timestep=<DT_NXS>
time_init=<Y1>-jan-1
duration=<FREQ_RST_D>
spinup_duration=1

[output]
exporter_path=<SAVDIR_NXS>
output_per_day=4#96#-1
save_forcing_fields=false
save_diagnostics=true

[moorings]
use_moorings=true
file_length=monthly
#snapshot=true
output_timestep=0.25
variables=Qa
#variables=Qio
#variables=Qow
variables=Qsw
variables=Qlw
variables=Qsh
variables=Qlh
variables=rain #   total liquid precipitation
#variables=evap # can have it through Qlh
variables=delS
#variables=tsurf
variables=conc
variables=thick
variables=snow
variables=velocity
#variables=tau
#variables=tau_ia
#variables=tau_oa
variables=wind
variables=fwflux_ice
### new (20191205):
variables=conc_thin
variables=h_thin
variables=hs_thin
variables=damage
variables=age
variables=age_d
variables=fyi_fraction

## @EO:
## Ok - it's official: Over open ocean "rain" means total precipitation -
## including snow. Over ice "rain" means liquid precipitation only - snow
## collects on the ice while rain is assumed to flow off it directly into the
## ocean.





[coupler]
timestep=<DT_CPL>

[drifters]
use_osisaf_drifters=true

[thermo]
Qio-type=exchange
#newice_type=1
diffusivity_sss=0
diffusivity_sst=0
ocean_bulk_formula=ncar
#ocean_bulk_formula=nextsim

[dynamics]
ERA5_quad_drag_coef_air=0.003
quad_drag_coef_water=0.0041
C_lab=5.e6
compression_factor=6000.

[debugging]
#log-level=debug
log-level=info
#check_fields=true
